/*MARTIN Célia*/

@font-face {
	font-family: "DisneyHeroic";
	src: url("Polices/DisneyHeroic.ttf");
}

@font-face {
	font-family: "GRECOromanLubedWrestling";
	src: url("Polices/GRECOromanLubedWrestling.ttf");
}

@font-face {
	font-family: "CaviarDreams";
	src: url("Polices/CaviarDreams.ttf");
}

body {
	color : black ;
	background-color: Cornsilk;
	background-image:url(Images/antiquite.png);
	background-size : cover ;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center center;
	text-align:center;
	font : 15px CaviarDreams;
}

h1 {
	font-family: DisneyHeroic;
	text-align: center;
}

h2 {
	text-align : center;
	margin : 0px;
	border-radius:10px;
	padding : 5px 0px 5px 0px;
	font-size : 20px;
	font-family:GRECOromanLubedWrestling;
}

#progress_bar h2{
	width:50%;
	text-align : center;
	margin : 0px;
	border-radius:10px;
	padding : 5px 0px 5px 0px;
	font-size : 20px;
	font-family:GRECOromanLubedWrestling;
}

h3 {
	text-align : center;
	margin : 0px 0px 0px 0px;
	background-color: orange;
	padding : 10px 0px;
}

section#questions {
	display : flex;
	flex-direction : column;
	align-items : center;
	
}


article.questionnaire {
	display : none ;
	width : 60%;
	background-color: white;
	margin : 10px 10px 10px 10px ;
	box-shadow:0px 0px 12px black;
}

article.questionnaire:first-child{
	display : block;
}

#qprecedente{
	display : none;
}


#resultat {
	background-color:;
	width : 60%;
	margin : 10px 10px 10px 10px ;
}

p {
	padding : 0px 20px ;
}

p#result {
	background-color : RGB(51,48,47);
	padding : 5px ;
	margin : 0px 0px;
	box-shadow:0px 0px 12px black;
	color : white ;
	font : 15px CaviarDreams;
}

p#suiv {

}

input.image8 {
	width :275px;
	height:183px;
}



#progress_bar {
	display : flex;
	flex-direction : column;
	align-items : center;
}

.meter {
	width: 600px;
	height: 10px;
	position: relative;
	background: RGB(51,48,47);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow:0 0 5px #4b4b4b;
	margin-bottom : 30px;
}

#progression {
	width:0px;
	display: block;
	height: 100%;
	border-radius: 20px;
	background-color: orange;
	box-shadow:
			inset 0 2px 9px  rgba(255,255,255,0.3),
			inset 0 -2px 6px rgba(0,0,0,0.4);
	position: relative;
	overflow: hidden;
}

img.vf{
	width: 30px;
	height: 30px;
}

.bouton_suiv {
	border:none;
	padding:8px 50px 8px 60px;
	border-radius:50px;
	box-shadow:0px 0px 12px black;
	background:orange;
	font:bold 15px CaviarDreams;
	color:black;
	margin : 0px 30px;
}

.bouton_prec {
	border:none;
	padding:8px 60px 8px 50px;
	border-radius:50px;
	box-shadow:0px 0px 12px black;
	background:orange;
	font:bold 15px CaviarDreams;
	color:black;
	margin : 0px 30px;
}

.bouton_correct {
	border:none;
	padding:8px 60px 8px 60px;
	border-radius:50px;
	box-shadow:0px 0px 12px black;
	background: RGB(51,48,47);
	font:bold 15px CaviarDreams;
	color:white;
}

#bouton_recommencer{
	border:none;
	padding:8px 40px 8px 40px;
	border-radius:50px;
	box-shadow:0px 0px 12px black;
	background: RGB(0,131,179,70);
	font:bold 15px CaviarDreams;
	color:white;
}


.zone_texte {
	border:none;
	padding:12px 30px 10px 30px;
	border-radius:50px;
	box-shadow:3px 3px 12px #999;
	background: lightgray;
	font: 16px CaviarDreams;
	color:black;
	margin-bottom : 50px;
	margin-top : 50px;
}

select {
	padding:10px 28px 10px 28px;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font: 16px CaviarDreams;
	color:black;
	margin-bottom : 50px;
	margin-top : 50px;
}


section#score {
	display : flex;
	flex-direction : column;
	align-items : center;
}

div#suiv_prec{
	display : flex;
	justify-content : center;
}

div {
	padding : 0px 0px 20px 0px;
}

.fa-chevron-right {
	margin-left : 10px;
}

.fa-chevron-left {
	margin-right : 10px;
}

.fa-times-circle {
	margin-left : 10px;
	color : black;
}

.fa-check-circle {
	margin-left : 10px;
	color : black;
}

/* reponsive */
@media screen and (max-width: 640px){
    article {
        width:90%
    }
}
